:root {
  --main-bg-color: #f9fbfc;
  --main-color: #1cb2b2;
  --button-color: #019788;
  --tab-color: #31383a;
  --color-economy: #099268;
  --color-business: #0c8599;

  --main-txt-color: #716863;
  --secondary-txt-color: #232323;
  --txt-color-on-dark: #f3fcfe;
  --line-color: #beb7b3;

  --shadow: 0px 0px 10px 2px rgba(81, 82, 88, 0.2);

  --size-xs: 10px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 20px;
  --size-xl: 24px;
  --size-xxl: 26px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: var(--main-txt-color);
  font-family: sans-serif;
}

body {
  display: grid;
  background-color: var(--main-bg-color);
}

main {
  grid: 2;
  padding: 30px;
  padding-top: 0px;
}

header {
  grid-row: 1;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px 20px 100px;
  width: 100vw;
  box-shadow: var(--shadow);
}

nav {
  display: flex;
  justify-items: space-evenly;
  gap: 30px;
}

nav a {
  color: var(--secondary-txt-color);
  font-weight: bold;
  font-size: var(--size-m);
}

button {
  background-color: var(--button-color);
  color: var(--txt-color-on-dark);
  border: none;
  width: 30%;
  height: 30px;

  font-size: var(--size-s);
}

ul {
  list-style: none;
}

h1 {
  color: var(--secondary-txt-color);
  font-size: var(--size-xl);
}

h2 {
  color: var(--secondary-txt-color);
  font-size: var(--size-m);
}

h3 {
  color: var(--secondary-txt-color);
  font-size: var(--size-s);
}

p {
  font-size: var(--size-s);
}

.modal-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31383aa2;
  z-index: 10;
  display: none;
}

.modal {
  background-color: var(--main-bg-color);
  width: 80%;
  height: auto;
  text-align: center;
  padding: 30px;
  position: relative;
}

.modal-container.open {
  display: flex;
}

.btn-close {
  width: auto;
  height: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

div.hero {
  grid-row: 2;
  width: 100%;
  height: auto;
  padding: 20px;
  background-image: url('./assets/images/samsommer-ocean.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  padding-top: 200px;
  width: 90%;
}

.form-sections {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  height: auto;
}

img.icon {
  width: 20px;
  height: auto;
  object-fit: scale-down;
}

img.icon.small {
  width: 15px;
  height: auto;
  object-position: center;
}

img.icon.switch.desktop {
  position: absolute;
  z-index: 1;
  background-color: var(--main-bg-color);
  border: 1px solid var(--line-color);
  border-radius: 50px;
  left: 50%;
  translate: -50%;
}

.tab {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.tab.open {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.tab.open p {
  color: var(--main-color);
  font-weight: bold;
}

.tab.closed {
  background-color: var(--tab-color);
}

.tab.closed p {
  color: var(--txt-color-on-dark);
  font-weight: bold;
}

.form {
  background-color: var(--main-bg-color);
  width: 100%;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.form.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form.row.even {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

select {
  border: none;
  height: auto;
  font-size: var(--size-s);
}

.optionen {
  display: flex;
  align-items: center;
  padding: 0px;
  position: relative;
}

input.textarea {
  height: 30px;
}

label {
  font-size: var(--size-s);
}

input {
  flex: 1;
  font-size: var(--size-s);

  border: none;
  border: 1px solid var(--line-color);
  padding: 15px;
}

section {
  grid-row: 3;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 50px;
  padding-bottom: 10px;
}

section.flights {
  flex-direction: column;
  gap: 30px;
}

.flight-container {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.flight-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
}

.flight-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flight-details p {
  color: var(--main-color);
  font-size: var(--size-xs);
  font-weight: 400;
}

.flight-details h2 {
  color: var(--main-color);
}
.line {
  flex: 1;
  padding: 5px;
}
.line hr {
  width: 100%;
  color: var(--main-color);
}

.duration {
  display: flex;
  gap: 5px;
  align-items: center;
}

.duration p {
  font-size: var(--size-xs);
}

.flight-stop {
  text-align: right;
}

.stops {
  text-align: center;
}

.price-container {
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 0px 30px;
  line-height: 1.3;
  text-align: center;
}

.price-container p {
  font-size: var(--size-xs);
}

.price-container p.price {
  font-size: var(--size-m);
  font-weight: 700;
}

.price-container.economy {
  border: 2px solid var(--color-economy);
}
.economy p,
.economy h3 {
  color: var(--color-economy);
}

.price-container.business {
  border: 2px solid var(--color-business);
}

.business p,
.business h3 {
  color: var(--color-business);
}

article {
  flex: 1;
  width: 40vw;
  border: 1px solid var(--line-color);
  height: auto;
}

.img-container {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
}

.article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-headline {
  padding: 20px;
  padding-top: 0px;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 850px) {
  nav a {
    font-size: 12px;
  }

  .form-container {
    padding-top: 100px;
  }

  header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form.row.even {
    flex-direction: column;
    align-items: stretch;
  }
  button {
    width: 100%;
  }

  section {
    flex-direction: column;
  }
  article {
    width: 100%;
  }
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .nav-desktop {
    display: none;
  }

  .hamburger-menu {
    display: inline-block;
    width: 50px;
    height: auto;
  }

  .tab p {
    display: none;
  }

  .tab {
    align-items: center;
    justify-content: center;
  }

  .form.row {
    flex-direction: column;
    align-items: flex-start;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: flex-start;
  }
  .form.optionen {
    flex-direction: column;
  }

  .icon.switch.mobile {
    position: absolute;
    z-index: 1;
    background-color: var(--main-bg-color);
    border: 1px solid var(--line-color);
    border-radius: 50px;
    right: 10%;
    top: 50%;
    transform-origin: center;
    transform: translate(0px, -50%) rotate(90deg);
  }

  input {
    width: 100%;
  }

  #non-stop-flight {
    flex: 0;
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
}
